In [44]:
'''
Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
для источников paid и email из России ставим ad;
для источников paid и email не из России ставим other;
все остальные варианты берём из traffic_source без изменений.
'''

import pandas as pd

def source_typ(row):
    if row['traffic_source'] in ['yandex', 'google']: 
        return 'organic'
    if row['traffic_source'] == 'paid':
        if row['region'].lower() == 'russia':
            return 'ad'
        else: 
            return 'other'
    return row['traffic_source']


visit_log = pd.read_csv('C:\\Users\\Alexey\\Downloads\\visit_log.csv', sep=';') 
visit_log['source_type'] = visit_log.apply(source_typ, axis=1)

visit_log.tail(10)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
18928,1550094255,c7e4bce62a,https://host.ru/8880fd00cf23066541,Australia,e721d23ec6,yandex,organic
18929,1550094260,39aeec73f8,https://host.ru/ee7c4e0674a284ee3f,Russia,9c832cf9d4,direct,direct
18930,1550094269,f1b4590410,https://host.ru/a5dda93e70318570c0,Russia,7f59a1e6a7,direct,direct
18931,1550094269,a7e2dfd759,https://host.ru/ef57543002ce2a0f2a,Belarus,04fec64cda,direct,direct
18932,1550094280,5001544772,https://host.ru/9f90e5c423a5f976d4,Russia,072148e3ba,google,organic
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,email

In [62]:
'''
Задание 2
В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц 
с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис. 
Выполните действия:
Прочитайте содержимое файла с датафрейм.
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение 
в соответствие с заданным шаблоном.
'''


import pandas as pd

urls = pd.read_csv('C:\\Users\\Alexey\\Downloads\\URLs.txt') 

urls.loc[urls['url'].str.contains('/\d{8}-')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

In [157]:
'''
Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. 
Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. 
Под временем жизни понимается разница между максимальным 
и минимальным значениями столбца timestamp для данного значения userId.
'''

ratings = pd.read_csv('C:\\Users\\Alexey\\Downloads\\ratings.csv')

r = ratings.groupby('userId').agg({'userId' : ['count'], 'timestamp' : ['min', 'max']})
r.rename({'count': 'estimation_count', 'min' : 'min_time', 'max' : 'max_time'}, axis=1, inplace=True)
r = r.loc[r.userId.estimation_count > 100]
r['life_time'] = r.timestamp.max_time - r.timestamp.min_time
r.life_time.mean()

40080507.4496124

In [169]:
'''
Задание 4
Дана статистика услуг перевозок клиентов компании по типам 
(см. файл “Python_13_join.ipynb” в разделе «Материалы для лекции “Продвинутый pandas”» 
---- Ноутбуки к лекции «Продвинутый pandas»).
Нужно сформировать две таблицы:
таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
аналогичную таблицу по типам выручки с указанием адреса клиента.
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.
'''


rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)


auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)


air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)


client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)


# Сначало формируем таблицу с адресами
tab2 = client_base.merge(rzd, how = 'left', on = 'client_id')
tab2 = tab2.merge(auto, how = 'left', on = 'client_id')
tab2 = tab2.merge(air, how = 'left', on = 'client_id')

tab2

# таблица без адресов
tab1 = tab2[['client_id', 'rzd_revenue', 'auto_revenue', 'air_revenue']]

tab1

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0